<title>Jugar - PreguntadORT</title>
  <section class="fondo3 fondos">
    <!-- usuario -->
    <section class="usuariopuntaje">
      <div class="usuario">
        <div class="circle-container"></div>
        <p>Username</p>
      </div>
      <div class="puntaje usuario">
        <p>150</p>
        <img src="imagenes/estrella.png">
      </div>
    </section>
    <!-- fin usuario -->
    <div class="contenido numero"><p>1</p></div>
    <div class="pregunta"><h3>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</h3></div>
    <form method="post" action="Respuesta.html">
      <div class="respuestas">
        <input type="radio" class="btn-check" name="options-base" id="option6" required>
        <label class="btn" for="option6">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
        <input type="radio" class="btn-check" name="options-base" id="option7">
        <label class="btn" for="option7">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
      </div>
      <div class="respuestas">
      <input type="radio" class="btn-check" name="options-base" id="option8">
      <label class="btn" for="option8">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
      <input type="radio" class="btn-check" name="options-base" id="option9">
      <label class="btn" for="option9">Lorem ipsum dolor sit amet, consectetur adipiscing elit</label>
      </div>
      <div class="contenido"><input type="submit" value="Verificar" class="btn btn-outline-dark"></div>
    </form>
  </section>